:root {
    --font-family: "SoDo Sans SemiBold", "SoDo Sans Black Italic"; 
    --fuenteParrafos:"Open Sans", "SoDo Sans Light"; 
    --cafe:#615b56;
    --gris:#e1e1e1;
    --blanco:#000000;
    --negro:#ffffff;
}